@{
    Layout = null;
}
<style type="text/css">
    .height_15r{height:15rem;}
    .container-fluid > .row {margin-top: 5px;}
    .text-index {text-indent: 2em;}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel-body nopadding">
                <div class="panel panel-default">
                    <div class="panel-heading panel-headicon"><i class="fa fa-user"></i> <h5>个人信息</h5></div>
                    <div class="panel-body height_15r">
                        @{
                            int h = DateTime.Now.Hour;
                            string word = string.Empty;
                            if (h >= 6 && h < 8)
                            {
                                word = "早上好,记得按时吃早餐哦！";
                            }
                            else if (h >= 8 && h < 11)
                            {
                                word = "上午好！";
                            }
                            else if (h >= 11 && h < 13)
                            {
                                word = "中午好,记得午饭要吃饱哟！";
                            }
                            else if (h >= 13 && h < 17)
                            {
                                word = "下午好,工作的同时注意保护眼睛哦！";
                            }
                            else if (h >= 17 && h < 19)
                            {
                                word = "傍晚好,晚饭记得按时吃哦！";
                            }
                            else if (h >= 19 && h < 22)
                            {
                                word = "晚上好,晚饭记得按时吃哦！";
                            }
                            else if (h >= 22 || h < 3)
                            {
                                word = "深夜了,记得早点休息哦！";
                            }
                            else
                            {
                                word = "凌晨咯,千万不要熬夜哦！";
                            }
                            var _U = Session["User"] as teacher.Data.Models.T_User;
                            <p>尊敬的<span class="color-red text-bold">@_U.UserNickName</span>：</p>
                            <p class="text-index">@word</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel-body nopadding">
                <div class="panel panel-default">
                    <div class="panel-heading panel-headicon"><i class="fa fa-pie-chart"></i> <h5>考试分析</h5></div>
                    <div class="panel-body">
                        <div id="data_chart" class="height_15r"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel-body nopadding">
                <div class="panel panel-default">
                    <div class="panel-heading panel-headicon"><i class="fa fa-newspaper-o"></i> <h5>最近考试信息</h5></div>
                    <div class="panel-body">
                        <ul class="list-group list-only-bottom" id="exam-detail"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-md-8">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Collapsible Group Item #1
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Collapsible Group Item #2
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Collapsible Group Item #4
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Collapsible Group Item #5
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Collapsible Group Item #6
                                </a>
                            </h3>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Collapsible Group Item #7
                                </a>
                            </h3>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>*@
</div>
@Scripts.Render("~/bundles/echarts")
<script type="text/javascript">
    window.curlocation = ['首页'];
    $(function () {
        var myChart = echarts.init($("#data_chart").get(0)), titledata = [], examdata = [];
        examdata=@Html.Raw(Json.Encode(ViewBag.DataList));
        for (var _i in examdata)
        {
            titledata.push(examdata[_i].name);
        }
        console.log(titledata);
        var option = {
                title: {
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a}：{b}<br/> {c}场 ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data:titledata
                },
                series: [
                    {
                        name: '科目',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: examdata,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

        myChart.setOption(option);

        var examlist=@Html.Raw(Json.Encode(ViewBag.ExamList));
        $.each(examlist,function(_i,_t) {
            $("#exam-detail").append(
                $("<li>",{"class":"list-group-item"})
                .append($("<a>",{"href":"javascript:;"}).text(_t.info))
                .append($("<span>",{"class":"badge"}).text($.web.dateFormat(_t.date,"yyyy-MM-dd")||""))
                );
        });
    });
</script>


