@{
    ViewBag.Title = "字体图标";
}

<style type="text/css">
    #Icon_container>.row>.col-md-3>i{width:2em;text-align:center;}
    #Icon_container>.row>.col-md-3{white-space:nowrap;text-overflow:ellipsis;padding:0 1em;overflow:hidden;position:relative;height:3rem;line-height:3rem;font-size:1.5rem;}
    #Icon_container>.row>.col-md-3:hover { background-color: #00acac;color:white;border-radius:10px;}
</style>

<script type="text/javascript">
    window.curlocation = ['系统管理', '字体图标'];
    $(function () {
        $.web.getAsync(document.weburl + "odata/T_FontIcons?$filter=IsDeleted eq false&$orderby=SortNum").done(function (xhr) {
            $.each(xhr.value, function (_i, _t) {
                $("#Icon_container>.row").append($("<div>", { "class": "col-md-3" }).text(_t.FontClass).prepend($("<i>", { "class": _t.FontClass })));
            });
        });
    });

</script>

<div class="container-fluid" id="Icon_container">
    <div class="row nomargin"></div>
</div>

