@Styles.Render("~/bundles/bootstrap-table/css")
@Scripts.Render("~/bundles/bootstrap-table/js")

<div class="modal fade" id="ShareStudents_Modal" tabindex="-1" role="dialog" aria-labelledby="ShareStudents_ModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ShareStudents_ModalLabel">学生信息</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row margin_tb_5">
                        <div class="col-sm-3 margin_tb_5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-credit-card"></i> 学号
                                </span>
                                <input type="text" class="form-control" id="share_query_stu_no" placeholder="请输入学号" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-3 margin_tb_5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i> 姓名
                                </span>
                                <input type="text" class="form-control" id="share_query_stu_nm" placeholder="请输入姓名" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 margin_tb_5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-building-o"></i> 在读情况
                                </span>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" name="share_stu_StudyStatus" data-studystatus="-1">全部</button>
                                    <button type="button" class="btn btn-primary" name="share_stu_StudyStatus" data-studystatus="1">在读</button>
                                    <button type="button" class="btn btn-default" name="share_stu_StudyStatus" data-studystatus="0">不在读</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-2 margin_tb_5 text-right">
                            <button type="button" class="btn btn-primary btn-sm btn_query" title="查询">
                                <i class="fa fa-search"></i>
                            </button>
                            <button type="reset" class="btn btn-info btn-sm btn_reset" title="重置"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div><!-- /.row -->
                </form>
                <table id="share_stu_info"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-close" aria-hidden="true"></span>关闭</button>
                <button type="button" class="btn btn-success btn_Sure"><span class="fa fa-check" aria-hidden="true"></span>确认</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[name='share_stu_StudyStatus']").click(function () {
            if (!$(this).hasClass("btn-primary")) {
                $(this).addClass("btn-primary").removeClass("btn-default").siblings(".btn-primary").removeClass("btn-primary").addClass("btn-default");
            }
        });

        var $modal=$("#ShareStudents_Modal"),
            $share_stu_tb = $("#share_stu_info");

        $modal.find(".btn_Sure").click(function () {
            var rowData = $share_stu_tb.bootstrapTable('getSelections');
            if (rowData.length == 0) { $.web.toast("请选择一行数据！"); return; }
            $modal.modal("hide");
        }).end().find(".btn_query").click(function () {
            $share_stu_tb.bootstrapTable("refresh");
        });



        $.web.bootstrapTable({
            selector: '#share_stu_info',
            option: {
                url: document.weburl + "Students/GetStudents",// "odata/T_SysMenus",
                showExport: false,
                showColumns: false, //字段筛选
                height: 350,
                queryParams: function (params) {
                    var queryParams = {
                        offSet: params.offset,
                        pageSize: params.limit,
                        orderBy: params.sort || "StudentCode",
                        sortType: params.order || "asc",
                        Sno: $("#share_query_stu_no").val(),
                        Snm: $("#share_query_stu_nm").val(),
                        Status:$("[name='share_stu_StudyStatus'].btn-primary").attr("data-studystatus")
                    };
                    return queryParams;


                },
                columns: [
                    { checkbox: true, align: 'center', valign: 'middle' },
                    {
                        title: '行号', width: 20, align: 'center', valign: 'middle',
                        formatter: function (value, row, index) {
                            return index + 1;
                        }
                    },
                    { title: '学号', field: 'StudentCode', align: 'center', valign: 'middle', sortable: true },
                    { title: '姓名', field: 'StudentName', align: 'center', valign: 'middle', sortable: true },
                    {
                        title: '性别', field: 'Sex', align: 'center', valign: 'middle', sortable: true,
                        formatter: function (value) {
                            return value ? "<span class='bg-green text_padding'>男</span>" : "<span class='bg-lightred text_padding'>女</span>";
                        }
                    },
                    {
                        title: '年龄', field: 'BirthDay', align: 'center', valign: 'middle',
                        formatter: function (value) {
                            return value ? new Date().getFullYear() - $.web.dateFormat(value, "yyyy") : "未知";
                        }
                    },
                    { title: '班级', field: 'StudentClass', align: 'center', valign: 'middle', sortable: true },
                    { title: '入学年份', field: 'EnrollmentYear', align: 'center', valign: 'middle', sortable: true },
                    {
                        title: '在读情况', field: 'StudyStatus', align: 'center', valign: 'middle', sortable: true,
                        formatter: function (value) {
                            return value ? "<span class='bg-green text_padding'>在读</span>" : "<span class='bg-lightred text_padding'>不在读</span>";
                        }
                    }
                ]
            }
        });
    });
</script>