@{
    Layout = null;
}

<style type="text/css">

#fonts_container>.row>.col-md-3>i{width: 2em;text-align: center;}
#fonts_container>.row>.col-md-3{white-space: nowrap;text-overflow: ellipsis;padding: 0 1em;overflow: hidden;position: relative;height: 3rem;line-height: 3rem;font-size: 1.5rem;cursor:pointer;}
#fonts_container>.row>.col-md-3:not(.active):hover,
#fonts_container>.row>.col-md-3.active
{background-color: #00acac;color: white;border-radius: 10px;}
</style>
<script type="text/javascript">
    $(function () {
        var $row = $("#fonts_container>.row");
        $.web.getAsync(document.weburl + "odata/T_FontIcons?$filter=IsDeleted eq false&$orderby=SortNum").done(function (xhr) {
            $.each(xhr.value, function (_i, _t) {
                $row.append($("<div>", { "class": "col-md-3", "data-icons": _t.FontClass }).text(_t.FontClass).prepend($("<i>", { "class": _t.FontClass })).click(function () {
                    if ($(this).hasClass("active")) { return; }
                    $(this).addClass("active").siblings(".active").removeClass("active");
                    return false;
                }));
            });
            $row.prev().addClass($row.prev().hasClass("hide")?"":"hide");
        });
    });

</script>

<div class="container-fluid" id="fonts_container">
    <p>正在加载中...</p>
    <div class="row"></div>
</div>