<style type="text/css">
    #u_head_img{height:15rem;max-width:100%;}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading panel-headicon"><i class="fa fa-cog"></i> <h5>个人设置</h5></div>

                <div class="panel-body">
                    <div class="row margin_tb_5">
                        <div class="col-sm-12">
                        @{
                            if (Session["User"] != null)
                            {
                                teacher.Data.Models.T_User CurU = Session["User"] as teacher.Data.Models.T_User;
                                using (teacher.Data.TeacherEntities et = new teacher.Data.TeacherEntities())
                                {
                                    teacher.Data.Models.T_User User = et.T_User.FirstOrDefault(u => u.UserID == CurU.UserID);
                                    <div class="input-group margin_tb_5">
                                        <label class="input-group-addon" for="inputUserNickNm"><i class="fa fa-user"></i> 昵称</label>
                                        <input type="text" class="form-control" id="inputUserNickNm" placeholder="请输入昵称" value="@User.UserNickName">
                                    </div>
                                    <div class="input-group margin_tb_5">
                                        <label class="input-group-addon" for="txt_u_id"><i class="fa fa-credit-card"></i> 账号</label>
                                        <input type="text" class="form-control" id="txt_u_id" placeholder="请输入新的账号（必填）" value="@User.UserID">
                                    </div>
                                    <div class="input-group margin_tb_5">
                                        <label class="input-group-addon" for="txt_u_psw"><i class="fa fa-key"></i> 密码</label>
                                        <input type="password" class="form-control" id="txt_u_psw" placeholder="请输入新的密码（必填）" value="nochange">
                                    </div>
                                }
                            }
                        }
                            <div class="text-center margin_tb_5"><button class="btn btn-primary"><i class="fa fa-save"></i> 保存</button></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.curlocation = ['个人设置'];
</script>